{% extends "base.html" %}

{% block title %}TEST{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>You appear to be lost...</h1>
	(This is an Error 404: Page not found message)
</div>
{% endblock %}