{% extends "bootstrap/base.html" %}

{% block title %} Bid Item Database {% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Statistical Bid Item Analysis</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
				<li><a href="{{ url_for('main.bid_event_project_list') }}">Project List</a></li>
				<li><a href="{{ url_for('main.bid_item_search') }}">Bid Item Search</a></li>
				<li><a href="{{ url_for('main.lump_sum_chart', group_name='mobilization') }}">Bid Item Statistics</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
    {% block my_scripts %}{% endblock %}
{% endblock %}