{% extends "base.html" %}

{% block title %}TEST{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Project List</h1>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col" class="col-sm-2">Project No.</th>
                <th scope="col">Project Name</th>
                <th scope="col">Total Estimate</th>
                <th scope="col">Total Award</th>
                <th scope="col">Awarded Contractor</th>
            </tr>
        </thead>
        <tbody>
            {% for bid_event in bid_events %}
            <tr>
                <th scope="row">{{ bid_event.bid_open_date }}</th>
                <td> {{ bid_event.project_number }}</td>
                <td><a href="{{ url_for('main.bid_event_summary', bid_event_id=bid_event.id) }}">{{ bid_event.project_name }}</a></td>
                <td>{{ '${:0,.2f}'.format(bid_event.total_engineer) }}</td>
                <td>{{ '${:0,.2f}'.format(bid_event.total_award) }}</td>
                <td>{{ '{}'.format(bid_event.awarded_company.name) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block my_scripts %}
<script src="{{ url_for('static', filename = 'js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
{% endblock %}