{% extends "base.html" %}

{% block title %}Bid Item Search{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Bid Item Search</h1>
    When the units filter drop-down is used, available conversions of unit costs and quantities from other units will be shown.
    Converted units are identified with (**). In addition, information will be shown about the unit conversion when the mous over
    these rows.
</div>

<div class="container">
    <table id="bid-item" class="table">
        <thead>
            <tr>
                <th scope="col">Bid Item Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Units</th>
                <th scope="col">Estimate</th>
				<th scope="col">Median</th>
                <th scope="col">Award</th>
                <th scope="col">Project Name</th>
                <th scope="col">Date</th>
                <th scope="col">pid</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
		<tfoot>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
				<th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>		
		</tfoot>
    </table>
</div>



{% endblock %}

{% block my_scripts %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/jquery.dataTables.min.css')}}"" media="screen" />
<script src="{{ url_for('static', filename = 'js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ url_for('static', filename = 'js/jquery.dataTables.min.js')}}"></script>
<script src="{{ url_for('static', filename = 'js/bootstrap.min.js')}}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#bid-item').DataTable({
            "initComplete": function () {
                this.api().columns(2).every( function () {
					var optionList = ['ALL', 'ACRE', 'C.Y.', 'EACH', 'GAL', 'L.S.', 'L.F.', 'LBS.',
						'PAIR', 'S.F.', 'S.Y.', 'TONS'];
                    var column = this;
                    var select = $('<select></select>')
                        .appendTo( $(column.header()).empty() )
                        .on( 'change', function () {
                            column
                                .search(  $(this).val() )
                                .draw();
							
                        } );
    
                    optionList.forEach( function ( d, j ) {
                        select.append( '<option value="' + d + '">' + d + '</option>' )
                    } );
					
					select.val({{ initial_column_filter| tojson }});
                    
                } );
            }  ,
            "paging": false,
            "processing": true,
            "serverSide": true,
			"searchDelay": 500,
            "ajax": {
                "url": "{{ url_for('api.bid_item_table') }}",
                "type": "get"
            },
            "rowCallback": function(row, data){
                $('td:eq(6)', row).html('<a href="/bid-event/' + data[8] + '">' + data[6] + '</a>');

                //Assign tool tip to each column in rows
                $(row).find('td').each(function(l, v){
                    $(this).attr('title', data[9]);
                    $(this).attr('data-toggle', 'tooltip');
                    $(this).attr('data-container', 'body');
                    $(this).tooltip();                    
                });
            },
            "columnDefs": [
                {
                    "targets": [8, 9],
                    "visible": false
                },
                {
                    "targets": [2, 3, 4, 5],
                    "orderable": false,
                }
            ],
			"search": {
				"search": {{ initial_search| tojson }}
			},
            "searchCols": [
                null,
                null,
                { "search": {{ initial_column_filter | tojson }} },
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ],
			"footerCallback": function( row, data, start, end, display) {
				var api = this.api(), data;
				
				var floatVal = function(i) {
					return typeof i === 'string' ?
						i.replace(/[\$,*]/g, '')*1.0 :
						typeof i === 'number' ?
							i: 0.0
				};
                numValues = api
					.column(3)
					.data()
					.length;

				totalEngineersCost = api
					.column(3)
					.data()
					.reduce(function(a, b) {
						return floatVal(a) + floatVal(b);
					}, 0);
                avgEngineersCost = totalEngineersCost / numValues;				
				minEngineersCost = Math.min(api.column(3).data().map(floatVal).sort()[0])
				maxEngineersCost = Math.max(api.column(3).data().map(floatVal).sort().reverse()[0])
					
				totalMedianCost = api
					.column(4)
					.data()
					.reduce(function(a, b) {
						return floatVal(a) + floatVal(b);
					}, 0);
                avgMedianCost = totalMedianCost / numValues;				
				minMedianCost = Math.min(api.column(4).data().map(floatVal).sort()[0])
				maxMedianCost = Math.max(api.column(4).data().map(floatVal).sort().reverse()[0])

				totalWinningCost = api
					.column(5)
					.data()
					.reduce(function(a, b) {
						return floatVal(a) + floatVal(b);
					}, 0);
                avgWinningCost = totalWinningCost / numValues;				
				minWinningCost = Math.min(api.column(5).data().map(floatVal).sort()[0])
				maxWinningCost = Math.max(api.column(5).data().map(floatVal).sort().reverse()[0])					
				
				
				$(api.column(0).footer()).html('Average<br/>Min<br/>Max' );
				$(api.column(3).footer()).html(
                    avgEngineersCost.toFixed(2) + '<br/>' + minEngineersCost.toFixed(2) + '<br/>' + maxEngineersCost.toFixed(2));
                $(api.column(4).footer()).html(
                    avgMedianCost.toFixed(2) + '<br/>' + minMedianCost.toFixed(2) + '<br/>' + maxMedianCost.toFixed(2));
                $(api.column(5).footer()).html(
                    avgWinningCost.toFixed(2) + '<br/>' + minWinningCost.toFixed(2) + '<br/>' + maxWinningCost.toFixed(2));                                        
			}

        });
    });
</script>
{% endblock %}