{% extends "base.html" %}

{% block title %}Project Contract Items{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ bid_event.project_name }}</h1>
	
	The Bid Distribution in the table below is an approximate probability density function of all contractor bids. The numbers on the bottom represent the maximum and minmum bids. The number on the top at the blue bar corresponds to the winning bidder.
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Contract Item</th>
                <th scope="col">Quantity</th>
                <th scope="col">Units</th>
                <th scope="col">Engineer</th>
                <th scope="col">Median</th>
                <th scope="col">Award</th>
                <th class = "col-md-4" scope="col">Bid Distribution</th>
            </tr>
        </thead>
        <tbody>
            {% for bid_item in bid_items %}
            <tr>
                <th scope="row">{{ bid_item['item_number'] }}</th>
                <td>{{ bid_item['contract_item_name'] }}</td>
                <td>{{ bid_item['quantity'] }}</td>
                <td>{{ bid_item['unit_name'] }}</td>
                <td>{{ bid_item['engineer_unit_cost'] }}</td>
                <td>{{ bid_item['median_bid'] }}</td>
                <td>{{ bid_item['awarded_contractor_bid'] }}</td>
                {% if bid_item['contract_item_name'] == 'EXTRA DIRECTED WORK' %}
                <td>No chart generated since value is constant.</td>
                {% else %}
                <td>
                    <div class="ct-chart" id="chart{{ bid_item['id'] }}" bid_item_id="{{ bid_item['id'] }}"></div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block my_scripts %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/chartist.min.css')}}"" media="screen" />
<script src="{{ url_for('static', filename = 'js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename = 'js/chartist.min.js')}}"></script>

<style>
	.ct-label {
		font-size: 8pt;
		font-weight: bold;
		text-align: center;
	}

    .ct-series-a .ct-line {
        stroke-width: 1px;
    }
</style>

<script type="text/javascript">
	$(document).ready(function(){
		$('.ct-chart').each(function(){
			bid_item_id = $(this).attr('bid_item_id');
			chart_id = '#' + $(this).attr('id');
	
			(function(bid_item_id, chart_id){
				$.ajax({
					url: "/bid-item-chart/" + bid_item_id,
					success: function(data){
						var options = {
							low: 0,
							axisX: {
								type: Chartist.AutoScaleAxis,
								scaleMinSpace: 50
							},
							axisY: {
								showLabel: false,
								low: 0
							},
							series: {
								'series-1': {
									showArea: true,
									showPoint: false,
									lineSmooth: Chartist.Interpolation.cardinal()},
								'series-2': {
									showPoint: false
								},
								'series-3': {
									showPoint: false
								}                    
							}
						};	
				
						new Chartist.Line(chart_id, data, options);
    				}
				});				
			})(bid_item_id, chart_id);			

		});
	});

</script>
{% endblock %}