{% extends "base.html" %}

{% block title %}Statistical Bid Item Analysis{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Statistical Bid Item Analysis</h1>
</div>
{% endblock %}

{% block my_scripts %}
<script src="{{ url_for('static', filename = 'js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
{% endblock %}