{% extends "base.html" %}

{% block title %}Bid Item Statistics{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ title }}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                    {% for bid_item_name, bid_item_query in bid_item_queries.items() %}
                        {% if bid_item_query['title']==title%}
                            <a href="{{ url_for('main.lump_sum_chart', group_name=bid_item_name) }}" class="list-group-item list-group-item-action active">{{bid_item_query['title'] }}</a>
                        {% else %}
                            <a href="{{ url_for('main.lump_sum_chart', group_name=bid_item_name) }}" class="list-group-item list-group-item-action">{{bid_item_query['title'] }}</a>
                        {% endif %}
                    {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            {{ js_resources | safe }}
            {{ css_resources | safe}}
            {{ plot_div | safe}}
            {{ plot_script |safe }}    
        </div>
    </div>
    
</div>


{% endblock %}

{% block my_scripts %}
<script src="{{ url_for('static', filename = 'js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
{% endblock %}